.App {
  text-align: center;
}

  /* nav */
.small-screen {
  display: block;
}

.large-screen {
  display: none;
}

  /* my page */



/* DESKTOP */
@media only screen and (min-width:1000px) {
  .small-screen {
    display: none;
  }
  
  .large-screen {
    display: block;
  }
}

/* TABLET */
@media only screen and (min-width:754px) {
  .small-screen {
    display: none;
  }
  
  .large-screen {
    display: block;
  }
}